{% if field.value %}
    <span class="label label-success toggle-user-role-by-admin" style="cursor: pointer;">да</span>
{% else %}
    <span class="label label-danger toggle-user-role-by-admin" style="cursor: pointer;">нет</span>
{% endif %}